<div class="comments">
 {{#each comment}}
    <section id="comment_info">
        <div>
            {{user.user_id}}
        </div>
        <div>
            {{this.comment}}
        </div>
    </section>
</div>
{{/each}}

<script src ="/js/post-comments"></script>