<section>
    <a href="/dashboard" class="is-pulled-left text-dark"> Back to dashboard</a>
    <h2> Create New Post </h2>

    <form class="post-form">
        <div>
            <label for="post-title"> Title: </label>
            <input type="text" name="title" id="post-title">
        </div>
        <div>
            <label for="post-content"> Content: </label>
            <input type="text" name="post_content" id="post-content">
        </div>
        <button id="send" class="button">submit</button>
    </form>
</section>
    
<script src="/js/post.js"></script>